py~=1.10.0
colorama~=0.4.4
pip~=20.3.3
attrs~=20.3.0
toml~=0.10.2
pytest~=6.2.1
pluggy~=0.13.1
iniconfig~=1.1.1
atomicwrites~=1.4.0
pyparsing~=2.4.7
setuptools~=51.3.3
lxml~=4.6.2
wcwidth~=0.2.5
numpy~=1.19.5
pandas~=1.1.5
yfinance~=0.1.55